#Python:
Python 3.13+

#Libraries:
PyOpenGL
GLFW
PyOpenAL
DearPyGui
Pillow
NumPy
SteamWorksPy
Discord
PyInstaller

#Command:
pip install pyopengl glfw pyopenal dearpygui pillow numpy steamworkspy discord pyinstaller