#Python:
Python 3.13+

#Libraries:
PyInstaller
GLFW
PyOpenGL
PyOpenAL
DearPyGui
Pillow
NumPy
SteamWorksPy
Discord

#Command:
pip install pyinstaller glfw pyopengl pyopenal dearpygui pillow numpy steamworkspy discord